/* FLASH MSG */
.action-msg {
  pointer-events: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  /* top: -100px; */
  /* right: 10px; */
  background-color: var(--clr2);
  color: var(--clr1);
  box-shadow: 0px 10px 20px -10px var(--blacka);
  padding: 10px;
  transition: top 0.35s, opacity 0.35s;
  z-index: 3;
  border-radius: 0.2em;
  opacity: 0;
}
.action-msg.open {
  opacity: 1;
  top: 60px;
}
