/* Setup */
/* @import */

/* basics */

@font-face {
  font-family: "logo";
  src: url(./fonts/Oswald/Oswald-Bold.ttf);
}
@font-face {
  font-family: "he";
  src: url(./fonts/Abraham/Abraham-Regular.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(./fonts/Oswald/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Oswald-Bold";
  src: url(./fonts/Oswald/Oswald-Bold.ttf);
}
@font-face {
  font-family: "textual";
  src: url(./fonts/Oswald/Oswald-Regular.ttf);
}

:root {
  --app-clr1: 190, 47, 118;
  --app-clr2: 255, 239, 12;
  --a: 0.25;
  /* colors */
  --clr2: rgb(var(--app-clr2));
  --white: rgb(255, 255, 255);
  --whitea: rgba(255, 255, 255, var(--a));
  --clr1: rgb(var(--app-clr1));
  --clr1a: rgba(var(--app-clr1), var(--a));
  --blacka: rgba(0, 0, 0, 0.3);
  /* breakpoints */
  --s: 600px;
  --m: 740px;
  --l: 1140px;
}
html {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  font-family: "textual";
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: var(--clr1);
}

/* css reset */
html,
body {
  overflow: hidden;
  position: relative;
  height: 100%;
  touch-action: none;
  -ms-touch-action: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  border: inherit;
}
a,
button {
  text-decoration: none;
  font: inherit;
  font-family: "Oswald-Bold";
  border: none;
  cursor: pointer;
  color: inherit;
  text-transform: uppercase;
}
input[type="color"] {
  cursor: pointer;
}
input[type="email"]:select,
input[type="text"]:select {
  outline: none;
}
p {
  margin-block-end: 1.6rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0.2em;
}
select {
  appearance: none;
  background-color: var(--white);
  border: none;
  padding: 0 0.1em 0 0.1em;
  margin: 0;
  /* width: 100%; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  line-height: inherit;
  text-align: center;
  color: #111;
  border-radius: 0.2em;
  height: 100%;
  box-shadow: 0px 5px 10px -2px --blacka;
  transition: outline 0.2s;
}
select:focus-visible {
  outline-color: var(--clr1);
}

/* general stylings */

body.rtl {
  direction: rtl;
}
body.rtl
  *:not(
    .brand-logo,
    i,
    select,
    input[type="text"],
    .langs-list > li > a,
    small
  ) {
  font-family: "he";
}
small {
  font-family: "textual";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald";
  color: var(--clr2);
  font-weight: unset;
  margin-block-end: 0.875rem;
}
h1 {
  font-size: 4.209rem;
}
h2 {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 3.157rem;
}
h3 {
  text-transform: uppercase;
  font-size: 2.369rem;
  letter-spacing: -1px;
}
h4 {
  font-size: 1.777rem;
}
input {
  padding: 0.25em 1em;
  border: 2px solid var(--clr1);
  border-radius: 2em;
  font-size: 1.25rem;
  vertical-align: baseline;
  transition: 0.3s border;
  color: var(--clr1);
}
input::placeholder {
  color: var(--clr1a);
  text-transform: uppercase;
}
input:focus {
  border: 2px solid var(--clr2);
  outline: none;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}
/* Buttons Styles */
button {
  padding: 0.5rem 1.25rem;
  border-radius: 0.25em;
  color: var(--clr1);
  background-color: var(--clr2);
}
button {
  transition: color 0.3s, background-color 0.3s;
}
button:hover {
  color: var(--clr1);
  background-color: var(--white);
}

.load-file-input {
  font-weight: 900;
  font-size: 1.5rem;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  border-radius: 0.5rem 0rem 0.5rem 2rem;
}
.load-file-input label {
  cursor: pointer;
}

button i {
  font-size: 1.25em;
}
.fa-plusminus {
  font-size: 1em;
}

/* layout */

body.grid {
  grid-template-rows: max-content 1fr max-content;
  grid-template-rows: 1fr;
}
footer {
  grid-column: -1/1;
  box-shadow: 0px -4px 0;
}

/* helpers */
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.grid {
  display: grid;
}
.clean-list {
  list-style: none;
}

.meme-editor.show {
  /* position: sticky; */
  opacity: 1;
  pointer-events: auto;
}

/* .canvas-container {
} */

/* components */
.control-widget-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-widget-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-widget-center > *:not(:last-child) {
  margin-inline-end: 0.6em;
}
/* CONTENT */
.main-content {
  position: relative;
  overflow-y: auto;
}

/* GALLERY */
.meme-gallery {
  min-height: 100vh;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  place-items: center;
  place-content: baseline;
  grid-auto-flow: dense;
  padding: 2em;
}
.meme-gallery > img {
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0px 10px 20px -10px var(--blacka);
  transition: transform 0.2s, box-shadow 0.3s;
}
.meme-gallery > img:hover {
  box-shadow: 0px 30px 30px -20px var(--blacka);
  transform: scale(1.05);
}
/* EDITOR */
/* editor ui */
.close-editor {
  font-weight: 900;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0rem 0.5rem 2rem 0.5rem;
  /* padding: 1em 2em; */
}
/* CANVAS */

.meme-editor {
  position: fixed;
  max-width: calc(100vw);
  max-height: calc(100vh - 55.19px);
  inset: 0;
  margin-block-start: auto;
  background-color: var(--white);
  padding: 1.33em;
  box-shadow: 0px 30px 50px -30px var(--blacka);
  transition: opacity 0.4s, transform 0.5s;
  z-index: 3;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
}
.meme-editor .wrapper {
  max-height: min-content;
  flex-direction: column;
  width: 100%;
}
.meme-editor .wrapper .meme-title-wrapper {
  width: 100%;
}
.save-meme-btn {
  width: 100%;
  margin: 0 20px;
}
.canvas-container {
  width: 100%;
  flex: 1;
  /* padding: 1.33em; */
  flex-direction: column;
  display: flex;
  align-items: center;
  max-width: 480px;
}
.canvas-container canvas {
  box-shadow: 0px 30px 30px -20px var(--blacka);
  border-radius: 0.5em;
  margin: auto;
  /* max-height: 350px; */
  margin: 2.5em auto 1em;
}
.meme-title-wrapper {
  /* position: absolute; */
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.meme-title-wrapper > * {
  text-transform: uppercase;
  text-align: center;
  color: var(--clr1);
}
.meme-title-wrapper > input {
  margin-left: 20px;
  flex: 1;
}
.meme-editor .controls {
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--clr1);
  border-radius: 0.5em;
  box-shadow: 0px 30px 30px -20px var(--blacka);
  padding: 1.33em;
  max-width: 480px;
  margin: 0 auto 2.5em;
}
.links-controls {
  width: 100%;
}
.text-line {
  color: #111;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  width: 100%;
}
.controls > * {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
}
.controls
  div:last-child:not(.module-wrapper, .module-wrapper > *, .emoji-select) {
  border-top: 3px solid var(--whitea);
  padding-top: 1em;
  margin-top: auto;
}
.controls h2 {
  color: var(--white);
  text-shadow: -3px -3px 0px #000, 3px 3px 0px var(--clr1);
  text-align: center;
  font-size: 2.369rem;
}
.colors-controls img {
  display: none;
}
/* FOOTER */
.main-footer {
  background-color: var(--white);
  color: var(--clr1);
  text-align: center;
}

/* HEADER */
.main-header {
  z-index: 4;
  padding: 0 1em;
  justify-content: space-between;
  background-color: var(--clr2);
  color: var(--clr1);
  box-shadow: 13px 1px 20px -10px var(--blacka);
}
footer {
  z-index: 4;
}

.langs-list {
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 0;
  left: 0; */
}
.langs-list > * {
  padding: 1em;
}

.brand-logo {
  font-size: 2.3rem;
  font-family: "logo";
  text-transform: uppercase;
  color: var(--white);
  text-shadow: -3px -3px 0px var(--clr1a), 3px 3px 0px var(--clr1);
  /* -webkit-text-stroke: 5px black; */
  /* text-stroke: 5px black; */
}

.main-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link {
  border-radius: 2em;
  width: 100%;
  font-size: 3em;
  padding: 0.2em 1.66em;
  /* margin-bottom: 20px; */
  color: var(--white);
  background-color: var(--clr1);
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s,
    text-shadow 0.3s;
  max-width: 400px;
}
.nav-links > *:not(:last-child) {
  margin-bottom: 1em;
}

.nav-links > * > a:hover {
  box-shadow: 0px 0px 0px 0.15em var(--whitea) inset,
    0px 0px 0px 2px var(--clr1);
  text-shadow: -3px -3px 0px var(--whitea), -3px -3px 6px var(--blacka);
}
.nav-links > * > a.active:hover {
  box-shadow: 0px 0px 0px 0.15em var(--clr1a) inset, 0px 0px 0px 2px var(--clr1);
  text-shadow: -3px -3px 0px var(--clr1a), -3px -3px 6px var(--clr1a);
}
.nav-links > * > a.active {
  background-color: var(--white);
  color: var(--clr1);
}

.nav-links {
  flex-direction: column;
  width: 100%;
}
.nav-links > *:not(:last-of-type) > a {
  margin-inline-end: 0em;
}
.app-clrs-btns > img {
  display: none;
}
.app-clrs-btns > *:not(:last-child) {
  margin-inline-end: 0.5em;
}
.app-clrs-btns {
  text-transform: uppercase;

  background-color: var(--white);
  padding: 0.55em 1em;
  border-radius: 0.2em;
  box-shadow: 0px 5px 10px -8px var(--blacka);
}

option[value="impact"] {
  font-family: impact;
}

option[value="arial"] {
  font-family: arial;
}

option[value="tahoma"] {
  font-family: tahoma;
}
.mobile-menu-btn {
  border-radius: 50%;
  display: inline-flex;
}

/* SEARCH BAR */
.search-bar {
  grid-row: 2/3;
  grid-column: 2/-1;
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.4em 2em;
  text-transform: uppercase;
  color: var(--clr1);
}
.search-bar input {
  border-color: var(--clr1a);
}
.search-bar input:focus {
  border-color: var(--clr2);
}
.search-bar label {
  font-size: 1.25em;
  margin-inline-end: 0.5em;
}

/* Mobile Menu */
@media (max-width: 960px) {
  .app-clrs-btns {
    position: absolute;
    bottom: 40px;
    z-index: 3;
  }
  .mobile-menu-btn {
    background-color: var(--white);
    font-weight: 900;
    /* font-size: 1em; */
    transition: color 0.3s, background-color 0.3s;
    order: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    /* font-size: 30px; */
    padding: 0;
  }
  .mobile-menu-btn:hover {
    color: var(--clr2);
    background-color: var(--clr1);
  }
  .main-nav {
    background: #e9e9e9;
    position: absolute;
    top: 55px;
    left: 0;
    padding: 2em;
    height: 100vh;
    z-index: 1;
    width: 100%;
    opacity: 0;
    height: calc(100vh - 55px - 24px);
    transform: translateX(100%);
    transition: 0.5s transform, opacity 0.5s;
    flex-direction: column;
  }
  .main-nav.open {
    opacity: 1;
    transform: translateX(0%);
  }
  .close-mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0.5em 1em 0.5em;
    font-weight: 900;
    font-size: 1.9em;
    padding: 0.33rem 1.6rem;
  }
  .nav-links {
    margin: unset;
  }
}
/* Medium */
@media (min-width: 960px) {
  .mobile-menu-btn,
  .close-mobile-menu {
    display: none;
  }
  .main-nav {
    justify-content: flex-end;
  }
  .nav-links {
    flex-direction: row;
    width: unset;
    margin: auto;
  }
  .nav-links > *:not(:last-of-type) > a {
    margin-inline-end: 0.5em;
  }
  .nav-link {
    font-size: 1.25em;
  }
  .nav-links > *:not(:last-child) {
    margin-bottom: 0;
  }

  /* editor */
  .meme-editor {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: unset;
  }
  .meme-editor .controls {
    flex-direction: column;
    margin: auto;
    /* max-width: max-content; */
  }
  .meme-editor .wrapper {
    flex-direction: row;
    /* max-height: 500px; */
    max-width: 900px;
  }
  .meme-editor.show {
    /* position: fixed; */
    opacity: 1;
    pointer-events: auto;
  }
  .close-editor {
    border-radius: 0 0.5rem 2rem 0.5rem;
  }
  .canvas-container {
    margin-inline-start: 2em;
    order: 2;
    max-width: 100%;
    max-height: 100%;
  }
  .canvas-container canvas {
    max-height: 100%;
    margin-bottom: unset;
    margin-top: unset;
  }
  .controls h2 {
    font-size: 3.157rem;
  }
  .controls > * {
    width: 100%;
  }
  .load-file-input {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.5rem 0rem 0.5rem 2rem;
  }

  /* controls */
}
/* Full/Large */
@media (min-width: 1300px) {
  /* layout */
  body.grid {
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
  }
  .search-bar {
    grid-row: 1/2;
    grid-column: 2/-1;
  }
  /* header */
  .main-header,
  .nav-links {
    flex-direction: column;
  }
  .main-header {
    grid-row: 1/3;
    grid-column: 1/2;
    padding: 2em;
  }
  .brand-logo {
    font-size: 3rem;
  }
  .main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav-link {
    border-radius: 2em;
    font-size: 1.75rem;
    padding-block-start: 0.5em;
    padding-block-end: 0.5em;
    margin-bottom: 0;
    margin-block-start: 1em;
  }
  .app-clrs-btns {
    margin-top: auto;
  }
  .app-clrs-btns,
  .brand-logo {
    margin: 0;
  }
  .nav-links > *:not(:last-of-type) > a {
    margin-inline-end: 0em;
  }
  .meme-editor {
    max-width: calc(100vw - 357.703px);
    max-height: calc(100vh - 24px);
    margin-inline-start: auto;
    margin-block-start: unset;
  }
  .canvas-container {
    margin-inline-end: 2em;
    order: 0;
  }
}

/* FLASH MSG */
.action-msg {
  pointer-events: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  /* top: -100px; */
  /* right: 10px; */
  background-color: var(--clr2);
  color: var(--clr1);
  box-shadow: 0px 10px 20px -10px var(--blacka);
  padding: 10px;
  transition: top 0.35s, opacity 0.35s;
  z-index: 3;
  border-radius: 0.2em;
  opacity: 0;
}
.action-msg.open {
  opacity: 1;
  top: 60px;
}

.emoji-select {
  position: relative;
  cursor: pointer;
}
.module-wrapper {
  cursor: auto;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -50%;
  transform: translateX(-100%);
  padding: 0.5em;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 20px 30px -15px var(--blacka);
  margin: 0;
  transition: 0.25s opacity, top 0.5s;
}
.emojis-module.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: dense;
  place-items: end;
}
.module-wrapper.open {
  pointer-events: auto;
  top: 150%;
  opacity: 1;
}
.module-wrapper.open .emoji-item {
  opacity: 1;
}
.emoji-item {
  transition: background-color 0.2s, opacity 0.5s 0.2s;
  background-color: var(--clr1a);
  opacity: 0;
  padding: 0.5em;
  margin: 0.1em;
  border-radius: 2em;
}
.module-wrapper .next-page,
.module-wrapper .prev-page {
  border-radius: 2em;
  font-size: 0.55rem;
  padding: 0.25em 0.5em;
  margin-top: 5px;
  background-color: var(--clr1);
  color: var(--white);
}
.module-wrapper .next-page:hover,
.module-wrapper .prev-page:hover {
  color: var(--clr2);
}

/* SEARCH BAR */
.search-bar {
  flex-wrap: wrap;
  justify-content: center;
}
input[type="search"] {
  width: 80%;
}
.keywords {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.keyword,
.all-gallery {
  cursor: pointer;
  color: var(--clr1a);
  transition: color 0.3s;
}
.keyword:hover,
.all-gallery:hover {
  color: var(--clr1);
}

.keyword:not(:last-of-type),
.search-bar input,
.all-gallery {
  margin-inline-end: 0.5em;
}

.all-gallery {
  font-size: 2em;
  cursor: pointer;
}
