/* basics */

@font-face {
  font-family: "logo";
  src: url(./fonts/OswaldQuattrocento/Oswald/Oswald-Bold.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(./fonts/OswaldQuattrocento/Oswald/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Oswald-Bold";
  src: url(./fonts/OswaldQuattrocento/Oswald/Oswald-Bold.ttf);
}
@font-face {
  font-family: "textual";
  src: url(./fonts/OswaldQuattrocento/Oswald/Oswald-Regular.ttf);
}

:root {
  --app-clr1: 190, 47, 118;
  --app-clr2: 255, 239, 12;
  --a: 0.25;
  /* colors */
  --clr2: rgb(var(--app-clr2));
  --white: rgb(255, 255, 255);
  --whitea: rgba(255, 255, 255, var(--a));
  --clr1: rgb(var(--app-clr1));
  --clr1a: rgba(var(--app-clr1), var(--a));
  --blacka: rgba(0, 0, 0, 0.3);
  /* breakpoints */
  --s: 600px;
  --m: 740px;
  --l: 1140px;
}
html {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  font-family: "textual";
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: var(--clr1);
}

/* css reset */
html,
body {
  overflow: hidden;
  position: relative;
  height: 100%;
  touch-action: none;
  -ms-touch-action: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  border: inherit;
}
a,
button {
  text-decoration: none;
  font: inherit;
  font-family: "Oswald-Bold";
  border: none;
  cursor: pointer;
  color: inherit;
  text-transform: uppercase;
}
input[type="color"] {
  cursor: pointer;
}
input[type="email"]:select,
input[type="text"]:select {
  outline: none;
}
p {
  margin-block-end: 1.6rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0.2em;
}
select {
  appearance: none;
  background-color: var(--white);
  border: none;
  padding: 0 0.1em 0 0.1em;
  margin: 0;
  /* width: 100%; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  line-height: inherit;
  text-align: center;
  color: #111;
  border-radius: 0.2em;
  height: 100%;
  box-shadow: 0px 5px 10px -2px --blacka;
  transition: outline 0.2s;
}
select:focus-visible {
  outline-color: var(--clr1);
}

/* general stylings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald";
  color: var(--clr2);
  font-weight: unset;
  margin-block-end: 0.875rem;
}
h1 {
  font-size: 4.209rem;
}
h2 {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 3.157rem;
}
h3 {
  text-transform: uppercase;
  font-size: 2.369rem;
  letter-spacing: -1px;
}
h4 {
  font-size: 1.777rem;
}
input {
  padding: 0.25em 1em;
  border: 2px solid var(--clr1);
  border-radius: 2em;
  font-size: 1.25rem;
  vertical-align: baseline;
  transition: 0.3s border;
  color: var(--clr1);
}
input::placeholder {
  color: var(--blacka);
  text-transform: uppercase;
}
input:focus {
  border: 2px solid var(--clr2);
  outline: none;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}
/* Buttons Styles */
button {
  padding: 0.5rem 1.25rem;
  border-radius: 0.25em;
  color: var(--clr1);
  background-color: var(--clr2);
}
button {
  transition: color 0.3s, background-color 0.3s;
}
button:hover {
  color: var(--clr1);
  background-color: var(--white);
}

.load-file-input {
  font-weight: 900;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.5rem 1rem 0.5rem 0rem;
  padding: 0rem;
}
.load-file-input label {
  cursor: pointer;
  padding: 0.5em 1.25em;
}

/* layout */

/* .main-layout > *:not(.full) {
  max-width: var(--l);
  margin-left: auto;
  margin-right: auto;
} */
body.grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
footer {
  grid-column: -1/1;
}

/* helpers */
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.grid {
  display: grid;
}
.clean-list {
  list-style: none;
}
.hide {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}
.show {
  transform: translateY(-50%);
  opacity: 1;
  pointer-events: auto;
}
/* .canvas-container {
} */

/* components */
.control-widget-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-widget-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-widget-center > *:not(:last-child) {
  margin-inline-end: 0.6em;
}
/* CONTENT */
.main-content {
  overflow-y: scroll;
}

/* GALLERY */
.meme-gallery {
  flex-grow: 1;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: masonry;
  align-tracks: start;
  justify-tracks: start;
  place-items: center;
  /* grid-auto-flow: dense; */
  padding: 3em;
  /* grid-template-rows: ; */
}
.meme-gallery > img {
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 0px 10px 20px -10px var(--blacka);
  transition: transform 0.2s, box-shadow 0.3s;
}
.meme-gallery > img:hover {
  box-shadow: 0px 30px 30px -20px var(--blacka);
  transform: scale(1.05);
}
/* EDITOR */
/* editor ui */
.close-editor {
  font-weight: 900;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0rem 0.5rem 2rem 0.5rem;
  /* padding: 1em 2em; */
}
/* CANVAS */

.meme-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(0%);
  margin: auto;
  background-color: var(--white);
  /* border-radius: 2rem; */
  padding: 1.33em;
  box-shadow: 0px 30px 50px -30px var(--blacka);
  transition: opacity 0.4s, transform 0.5s;
  z-index: 3;
  height: 100%;
  overflow-y: scroll;
}
.meme-editor .wrapper {
  flex-direction: column;
  width: 100%;
}

.canvas-container {
  flex: 1;
  /* padding: 1.33em; */

  display: flex;
  align-items: center;
}
.canvas-container canvas {
  box-shadow: 0px 30px 30px -20px var(--blacka);
  border-radius: 0.5em;
  margin: auto;
  max-height: 350px;
  margin-bottom: 30px;
}
.meme-editor .controls {
  flex-basis: 40%;
  flex-direction: column;
  background-color: var(--clr1);
  border-radius: 0.5em;
  box-shadow: 0px 30px 30px -20px var(--blacka);
  padding: 1.33em;
  max-width: 410px;
  margin: auto;
}

.text-line {
  color: #111;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.controls > * {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
}
.controls div:last-child {
  border-top: 3px solid var(--whitea);
  padding-top: 1em;
  margin-top: auto;
}
.controls h2 {
  color: var(--white);
  text-shadow: -3px -3px 0px #000, 3px 3px 0px var(--clr1);
  text-align: center;
  font-size: 2.369rem;
}
.colors-controls img {
  display: none;
}
/* FOOTER */
.main-footer {
  background-color: var(--white);
  color: var(--clr1);
  text-align: center;
}

/* HEADER */
.main-header {
  padding: 0 1em;
  justify-content: space-between;
  background-color: var(--clr2);
  color: var(--clr1);
  box-shadow: 13px 1px 20px -10px var(--blacka);
}

.brand-logo {
  font-size: 2.3rem;
  font-family: "logo";
  text-transform: uppercase;
  color: var(--white);
  text-shadow: -3px -3px 0px var(--clr1a), 3px 3px 0px var(--clr1);
  /* -webkit-text-stroke: 5px black; */
  /* text-stroke: 5px black; */
}

.main-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link {
  border-radius: 2em;
  width: 100%;
  font-size: 3em;
  padding: 0.25em 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white);
  background-color: var(--clr1);
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s,
    text-shadow 0.3s;
}

.nav-links > * > a:hover {
  box-shadow: 0px 0px 0px 0.15em var(--whitea) inset,
    0px 0px 0px 2px var(--clr1);
  text-shadow: -3px -3px 0px var(--whitea), -3px -3px 6px var(--blacka);
}
.nav-links > * > a.active:hover {
  box-shadow: 0px 0px 0px 0.15em var(--clr1a) inset, 0px 0px 0px 2px var(--clr1);
  text-shadow: -3px -3px 0px var(--clr1a), -3px -3px 6px var(--clr1a);
}
.nav-links > * > a.active {
  background-color: var(--white);
  color: var(--clr1);
}

.nav-links {
  flex-direction: column;
  width: 100%;
}
.nav-links > *:not(:last-of-type) > a {
  margin-inline-end: 0em;
}
.app-clrs-btns > img {
  display: none;
}
.app-clrs-btns > *:not(:last-child) {
  margin-inline-end: 0.5em;
}
.app-clrs-btns {
  text-transform: uppercase;

  background-color: var(--white);
  padding: 0.55em 1em;
  border-radius: 0.2em;
  box-shadow: 0px 5px 10px -8px var(--blacka);
}

option[value="impact"] {
  font-family: impact;
}

option[value="arial"] {
  font-family: arial;
}

option[value="tahoma"] {
  font-family: tahoma;
}
.mobile-menu-btn {
  border-radius: 50%;
  display: inline-flex;
}

/* Mobile Menu */
@media (max-width: 960px) {
  .app-clrs-btns {
    position: absolute;
    bottom: 40px;
    z-index: 3;
  }
  .mobile-menu-btn {
    background-color: var(--white);
    font-weight: 900;
    /* font-size: 1em; */
    transition: color 0.3s, background-color 0.3s;
    order: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    /* font-size: 30px; */
    padding: 0;
  }
  .mobile-menu-btn:hover {
    color: var(--clr2);
    background-color: var(--clr1);
  }
  .main-nav {
    background: #e9e9e9;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
    height: 100vh;
    z-index: 1;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.5s transform, opacity 0.5s;
  }
  .main-nav.open {
    opacity: 1;
    transform: translateX(0%);
  }
  .close-mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0.5em 1em 0.5em;
    font-weight: 900;
    font-size: 1.9em;
    padding: 0.6em 1.3em;
  }
}
/* Medium */
@media (min-width: 960px) {
  .mobile-menu-btn,
  .close-mobile-menu {
    display: none;
  }
  .nav-links {
    flex-direction: row;
    width: unset;
  }
  .nav-links > *:not(:last-of-type) > a {
    margin-inline-end: 1em;
  }
  .nav-link {
    font-size: 1.25em;
  }
  /* editor */
  .meme-editor {
    padding: 2em;
    display: flex;
    align-items: center;
    overflow-y: unset;
  }
  .meme-editor .wrapper {
    flex-direction: row;
    max-height: 500px;
  }
  .close-editor {
    border-radius: 0 0.5em 0.5em 0.5em;
  }
  .canvas-container {
    margin-inline-end: 2em;
  }
  .canvas-container canvas {
    max-height: 100%;
    margin-bottom: unset;
    margin-top: unset;
  }
  .controls h2 {
    font-size: 3.157rem;
  }
  /* controls */
}
/* Full/Large */
@media (min-width: 1300px) {
  /* layout */
  body.grid {
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
  }
  /* header */
  .main-header,
  .nav-links {
    flex-direction: column;
  }
  .main-header {
    padding: 2em;
  }
  .brand-logo {
    font-size: 3rem;
  }
  .main-nav {
    display: block;
    width: 100%;
  }
  .nav-link {
    border-radius: 2em;
    font-size: 1.75rem;
    padding-block-start: 0.5em;
    padding-block-end: 0.5em;
    margin-bottom: 0;
    margin-block-start: 1em;
  }

  .app-clrs-btns {
    margin-top: auto;
  }
  .app-clrs-btns,
  .brand-logo {
    margin: 0;
  }
  .nav-links > *:not(:last-of-type) > a {
    margin-inline-end: 0em;
  }
  .meme-editor {
    display: block;
    padding: 3.33em;
    max-width: var(--l);
    top: 50%;
    transform: translateY(-50%);
    height: unset;
    max-height: max-content;
    border-radius: 2rem;
  }
  .close-editor {
    border-radius: 2rem 0.5rem 1rem 0.5rem;
  }
  .canvas-container {
    margin-inline-end: 2em;
  }
  .load-file-input {
    border-radius: 0.5rem 1rem 0.5rem 2rem;
  }
}
